{% from "tabs/macro.njk" import govukTabs %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        
        {% set summaryHTML  %}
            {% include './census/census-summary.html' %}
        {% endset -%}

        {% set schoolHTML  %}
            {% include './census/school.html' %}
        {% endset -%}

        {% set pupilsHTML  %}
            {% include './census/pupils.html' %}
        {% endset -%}


        {{ govukTabs({
            items: [
                {
                    label: 'Summary report',
                    id: 'summary',
                    panel: {
                        html: summaryHTML
                    }
                },
                {
                    label: 'School details',
                    id: 'school',
                    panel: {
                        html: schoolHTML
                    }
                },
                {
                    label: 'Pupil details',
                    id: 'pupil',
                    panel: {
                        html: pupilsHTML
                    }
                }
            ]
        }) }}
    </div>

</div>