{% from "button/macro.njk" import govukButton %}
{% macro schoolIssueList(params) %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <table id="issueTable" class="govuk-table govuk-table--top-align issue-table hide-caption">
            
            <caption class="govuk-table__caption">Issues</caption>
            
            
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    
                    <th class="govuk-table__header" scope="col">
                        Issue
                    </th>

                    <th class="govuk-table__header" scope="col">
                        Type
                    </th>

                    <th class="govuk-table__header" scope="col">
                        Previous notes
                    </th>
                    
                    <th class="govuk-table__header numeric" scope="col">
                    </th>
                
                </tr>
            </thead>
            
            <tbody class="govuk-table__body">

                {% for issue in params.issues | sort(false, true, 'category') %}

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header issue-description" scope="row" data-sort-value="{{ issue.number }}">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-1 issueData" data-modal-id="modal-title">
                                {{ issue.number }}
                                {% if issue.pupils | length > 0 %}
                                    <span class="no-wrap type-tag count  govuk-!-margin-left-2">
                                        {% if issue.pupils | length != 1 %}
                                            {{ issue.pupils | length }} pupils
                                            {% set consolidatedQuery = true %}
                                        {% else %}
                                            1 pupil
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </h3>
                            <p class="issueData" data-modal-id="modal-description">
                                {{ issue.description | addFullStop }}
                            </p>
                            <div class="issueData" data-modal-id="selected-issue" style="display: none;">{{ issue.id }}</div>
                        </th>
                        <td class="govuk-table__cell">
                            <span class="no-wrap type-tag {{ issue.category }} govuk-!-margin-right-8 issueCategory">
                                {{ issue.category | sentenceCase }}
                            </span>
                        </td>

                        <td class="govuk-table__cell">
                            {% if issue.notes | length == 0 %}
                                −
                            {% else %}
                                {% for note in issue.notes %}
                                    <div class="note {{ note.type }}">
                                        <span class="title">{{ 'Approved by ' if note.type == 'approval' }}{{ 'Rejected by ' if note.type == 'reply' }}{{ 'Note added by ' if note.type == 'school' }} {{ note.author }}<br>{{ note.date | formatDate }}</span>
                                        {{ note.text }}
                                    </div>
                                {% endfor -%}
                            {% endif %}
                        </td>

                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <div class="action-buttons">
                                {% if issue.pupils | length != 0 %}
                                    <form action="issue-details">
                                        <input type="hidden" name="current-issue" value="{{ issue.id }}">
                                        {{ govukButton({
                                            html: 'Accept'
                                        }) }}
                                        {{ govukButton({
                                            html: 'Reject',
                                            classes: 'app-button-red'
                                        }) }}
                                    </form>
                                {% else %}
                                <button type="button" class="govuk-button open-modal">
                                    Explain
                                </button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>

                {% endfor %}
                
            </tbody>
        </table>

    </div>

</div>
{% endmacro %}