{% set hmctsComponentRoot = '../../../../../node_modules/@hmcts/frontend/components/' %}
{% from hmctsComponentRoot + 'hmcts-sub-navigation/macro.njk' import hmctsSubNavigation %}
{% macro helpdeskSubNavigation(params) %}
{{ hmctsSubNavigation({
    label: 'Sub navigation',
    items: [
        {
            html: 'Responses needed' + params.school | helpdeskActionNeededCount | countTag,
            href: 'issues',
            active: params.activePage == 'issues'
        } if (params.school | helpdeskActionNeededCount != 0), 
        {
            html: 'Accepted' + params.school | acceptedCount | countTag,
            href: 'accepted',
            active: params.activePage == 'accepted'
        },
        {
            html: 'Rejected' + params.school | rejectedCount | countTag,
            href: 'rejected',
            active: params.activePage == 'rejected'
        },
        {
            text: 'Advisory notes',
            href: 'additional-notes',
            active: params.activePage == 'additional-notes'
        },
        {
            text: 'Census data',
            href: 'census-data',
            active: params.activePage == 'census-data'
        },
        {
            text: 'Reports',
            href: 'reports',
            active: params.activePage == 'reports'
        }
    ]
}) }} 
{% endmacro %}