{% from "button/macro.njk" import govukButton %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% macro helpdeskCensusHeader(params) %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        {% if params.school.issues | length == 0 %}
            <script>
                window.location.href = 'census-data'
            </script>
        {% else %}
            {% if (params.school | helpdeskActionNeededCount == 0) %}
                {% if (params.school | acceptedCount > 0) and (params.school | rejectedCount == 0) %}
                    <h1 class="govuk-heading-l">All explanations for issues have been accepted</h1>
                    <p>
                        Check the responses carefully, if all of the explanations follow the ‘acceptable explanation guide’ you may authorise this return.
                    </p>
                    {{ govukButton({
                        text: 'Authorise census return',
                        href: 'authorised',
                        classes: ''
                    }) }}
                {% else %}
                    <h1 class="govuk-heading-l">All issues have a response</h1>
                    <p>
                        Check your responses carefully before sending them back to the school. 
                    </p>
                    <p>
                        This return cannot be authorised because of <a href="rejected">rejected explanations</a>. 
                    </p>
                    <p>
                        The school will be asked to take appropriate action on responses sent by the Department for Education.
                    </p>
                    {{ govukButton({
                        text: 'Send responses to school',
                        href: 'additional-note',
                        classes: ''
                    }) }}
                {% endif %}
            {% else %}
                <h1 class="govuk-heading-l">Respond to the explanations added by the school</h1>
                <p>
                    Carefully consider each explanation. Use the ‘acceptable explanation guide’ to decide if the explanation should be accepted or rejected.
                </p>
                <p>
                    You will be given the option to authorise the return if all of the explanations are acceptable.
                </p>
            {% endif %}
        {% endif %}
    </div>
    <div class="govuk-grid-column-one-half" style="text-align: right;">
        <div class="app-callout-container">
            <p class="govuk-body-s" style="max-width: 100%;">
                <a href="#">Download data as XML</a> <a href="#" class="govuk-!-margin-left-3">Download data as CSV</a>
            </p>
        </div>
    </div>
</div>
{% endmacro %}
