{% from "button/macro.njk" import govukButton %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% macro helpdeskPupilSelectionList(params) %}

{% set issue = params.issue %}
{% set hasMultiplePupils = issue.pupils | length > 1 %}
{% set isError = issue.category == 'error' %}



<form id="pupil-select-form" action="{{ '/issue/undo-response' if issue.hasResponse else '/issue/respond' }}" method="post">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            <table id="pupilTable" class="govuk-table govuk-table--top-align pupil-table sortable-table">
                
                <caption class="govuk-table__caption">{{ issue.pupils | length | pluralLabel('Pupil', 'Pupils') }} with {{ issue.category | lowerCase }} {{ issue.number }}</caption>
                
                
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row govuk-checkboxes govuk-checkboxes--small">
                        {% if hasMultiplePupils %}
                            <th class="govuk-table__header govuk-table__checkbox-cell govuk-table__checkbox-cell" scope="col">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" type="checkbox" id="select-all" />
                                    <label class="govuk-checkboxes__label" for="select-all"></label>
                                </div>
                            </th>
                        {% endif %}
                        
                        <th class="govuk-table__header" scope="col">
                            UPN
                        </th>

                        <th class="govuk-table__header" scope="col">
                            Name
                        </th>
                        
                        <th class="govuk-table__header" scope="col">
                            Date of birth
                        </th>
                    
                    </tr>
                </thead>
                
                <tbody class="govuk-table__body">

                    {% for pupil in issue.pupils | sort(false, true, 'UPN') %}

                        <tr class="govuk-table__row">
                            {% if hasMultiplePupils %}
                                <th class="govuk-table__header govuk-table__checkbox-cell govuk-checkboxes govuk-checkboxes--small" scope="row">
                                    <div class="govuk-checkboxes__item">
                                        <input type="checkbox" class="govuk-checkboxes__input" name="selected-pupils" id="pupil-{{ loop.index - 1 }}" value="{{ pupil.id }}"/>
                                        <label class="govuk-checkboxes__label" for="pupil-{{ loop.index - 1 }}" name="selected-pupils"></label>
                                    </div>
                                </th>
                            {% endif %}
                            <th class="govuk-table__header" scope="row">
                                <a href="#" class="open-modal plain-link" data-pupil="{{ loop.index - 1 }}">
                                    <span class="issueData" data-modal-id="modal-title">
                                        {{ pupil.UPN }}
                                    </span>
                                </a>
                            </th>
                            <td class="govuk-table__cell">
                                {% set name = '<span class="last-name">' + pupil.surname + '</span>,
                                <span class="first-name">' + pupil.firstname + '</span>' %}
                                <span class="issueData" data-modal-id="modal-description">
                                    {{ name | safe }}
                                </span>
                            </td>
                            <td class="govuk-table__cell">
                                <span class="issueData" data-modal-id="pupil-dob">{{ pupil.dob | formatDoB }}</span>
                            </td>
                        </tr>

                    {% endfor %}
                    
                </tbody>
            </table>

            {% if not hasMultiplePupils %}
                <input type="hidden" id="selected-pupils" name="selected-pupils[0]" value="{{ params.issue.pupils[0].id }}">
            {% endif %}

        </div>

    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-5">

                {% if not issue.hasResponse %}

                    {% if issue.category == 'query' %}
                        <h3 class="govuk-heading-m">Acceptable explanation guide</h3>
                    {% endif %}

                    <p>
                        {{ issue.guide | orElse('<b>Errors are not acceptable in most cases.</b><br>Please seek the advice of DDU if in doubt.') | safe }}
                    </p>

                {% endif %}

                <h3 class="govuk-heading-m">Explanation</h3>

                {% for note in issue.notes | sort(false, true, 'date') %}
                    <div class="note {{ note.type }}">
                        <span class="title">{{ 'Approved by ' if note.type == 'approval' }}{{ 'Rejected by ' if note.type == 'reply' }}{{ 'Explanation added by ' if note.type == 'school' }} {{ note.author }}<br>{{ note.date | formatDate }}</span>
                        {{ note.text }}
                    </div>
                {% endfor -%}

                <br class="govuk-!-margin-bottom-5">

            {% if issue.hasResponse %}

                {{ govukButton({
                    html: 'Undo response for selected pupils' if hasMultiplePupils else 'Undo response'
                }) }}

            {% else %}

                {% set responseNoteHTML %}

                    {{ govukTextarea({
                        id: 'reject-note',
                        name: 'reject-note',
                        classes: 'govuk-input--width-30',
                        label: {
                            text: 'Why is this explanation not acceptable?'
                        },
                        hint: {
                            text: 'Let the school know what they can do to improve their data or the explanation they have given.'
                        }
                    }) }}

                {% endset %}

                {{ govukRadios({
                    idPrefix: 'response-type',
                    name: 'response-type',
                    classes: 'govuk-radios--small',
                    fieldset: {
                        legend: {
                            text: 'Response',
                            isPageHeading: false,
                            classes: 'govuk-fieldset__legend--m'
                        }
                    },
                    items: [
                        {
                            text: 'Accept explanation',
                            value: 'accept'
                        },
                        {
                            text: 'Reject explanation',
                            value: 'reject',
                            conditional: {
                                html: responseNoteHTML
                            }
                        }
                    ]
                }) }}

                <input type="hidden" id="selected-issue" name="selected-issue" value="{{ issue.id }}">
                <input type="hidden" name="success-page" value="#root#/helpdesk/school/issue-details">
                
				{{ govukButton({
					html: 'Save response for selected pupils'
				}) }}

            {% endif %}

            <p>
                <a href="{{ 'responses' if hasResponse else 'issues' }}">Cancel</a>
            </p>

        </div>

    </div>

</form>

<script>
    $('.govuk-table__head .govuk-table__checkbox-cell input[type=checkbox]').on(
        'change',
        function() {
            $(this)
                .closest('table')
                .find('.govuk-table__checkbox-cell input[type=checkbox]')
                .prop('checked', $(this).prop('checked'));
            $(this)
                .closest('table')
                .find('.govuk-table__body tr')
                .removeClass('highlight-row');
            if ($(this).prop('checked')) {
                $(this)
                    .closest('table')
                    .find('.govuk-table__body tr')
                    .addClass('highlight-row');
            }
            validateSelected();
        }
    )
    $('.govuk-table__body .govuk-table__checkbox-cell input[type=checkbox]').on(
        'change',
        function() {
            var row = $(this).closest('tr');
            row.removeClass('highlight-row');
            if ($(this).prop('checked')) {
                row.addClass('highlight-row');
            }
            validateSelected();
        }
    )

    function validateSelected() {
        var maximumCount = $(
            '.govuk-table__body .govuk-table__checkbox-cell input[type=checkbox]'
        ).length;
        var selectedCount = $(
            '.govuk-table__body .govuk-table__checkbox-cell input[type=checkbox]:checked'
        ).length;

        if (selectedCount != 0) {
            $('.selected-button').removeClass('govuk-button--disabled');
            $('button.selected-button').prop('disabled', false);
            $('.explanation-field').show();
        } else {
            $('.selected-button').addClass('govuk-button--disabled');
            $('button.selected-button').prop('disabled', true);
            $('.explanation-field').hide();
        }
    }
</script>
{% endmacro %}