{% macro schoolIdentityBar(params) %}
{% if params.school == null %}
<script>
    window.location.href = '/error?error-message=Entered a view where a school was required but no school was selected in session'
</script>
{% endif %}
<div class="hmcts-identity-bar">

    <div class="hmcts-identity-bar__container">

        <div class="hmcts-identity-bar__details">

            <span class="hmcts-identity-bar__title">
                <b>{{ params.school.name }}</b> {{ params.school.LAESTAB }}
            </span>

        </div>

        <div class="hmcts-identity-bar__details govuk-!-margin-right-0">

            <span class="hmcts-identity-bar__title">
                Data sent on {{ params.school.builtOn | formatDate }}
            </span>

        </div>

    </div>

</div> 
{% endmacro %}