{% set hmctsComponentRoot = '../../../../../node_modules/@hmcts/frontend/components/' %}
{% from hmctsComponentRoot + 'hmcts-sub-navigation/macro.njk' import hmctsSubNavigation %}
{% macro laCollectionSubNavigation(params) %}
{{ hmctsSubNavigation({
    label: 'Sub navigation',
    items: [
        {
            html: 'In review' + params.schools | filterByStatus('submitted') | length | countTag,
            href: 'inbox',
            active: params.activePage == 'inbox'
        }, 
        {
            html: 'Waiting for explanations' + params.schools | filterByStatus('responded') | length | countTag,
            href: 'responded',
            active: params.activePage == 'responded'
        },
        {
            html: 'Not sent' + ((params.schools | filterByStatus('no-data') | length) + (params.schools | filterByStatus('no-explanations') | length)) | countTag,
            href: 'not-sent',
            active: params.activePage == 'not-sent'
        },
        {
            html: 'All schools in queue',
            href: 'all-schools',
            active: params.activePage == 'all-schools'
        }
    ]
}) }} 
{% endmacro %}