{% from "button/macro.njk" import govukButton %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% macro schoolCensusHeader(params) %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        {% if params.school.issues | length == 0 %}
            <script>
                window.location.href = 'census-data'
            </script>
        {% else %}
            {% if params.isReady %}
                <h1 class="govuk-heading-l">All issues have an explanation</h1>
                <p>
                Check your explanations carefully. You will not be able to view them once they have been sent.
                </p>
                <p>
                You can then send your explanations to the Department for Education for review.
                </p>
                <p>
                They will contact you by email to confirm your submission, or to ask for more information.
                </p>
                {{ govukButton({
                    text: 'Send explanations',
                    href: 'return-note',
                    classes: ''
                }) }}
            {% else %}
                <h1 class="govuk-heading-l">Explain the errors and queries in your data</h1>
                <p>
                There are some errors and queries with the census data you have sent us.
                </p>
                <p>
                You need to give an explanation for these issues before the census submission deadline on 3 July 2019.
                </p>
                {{ govukWarningText({
                    text: 'You have 2 days left to send your explanations to us.',
                    iconFallbackText: 'Warning'
                }) }}
            {% endif %}
        {% endif %}
    </div>
    <div class="govuk-grid-column-one-half" style="text-align: right;">
        <div class="app-callout-container">
            <div class="app-callout">
                <h3 class="govuk-heading-s">Download all census data</h3>
                <p class="govuk-body-s">
                    Download the census data for {{ params.school.name }}
                </p>
                <p class="govuk-body-s">
                    <a href="#">Download as XML</a> <a href="#" class="govuk-!-margin-left-3">Download as CSV</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
