{% from "button/macro.njk" import govukButton %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "textarea/macro.njk" import govukTextarea %}

{% macro schoolIssueModal(params) %}


<div class="modal" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description">

    {% set responseHTML %}
        {{ govukTextarea({
                id: 'response-note',
                name: 'response-note',
                label: {
                    text: 'Explanation'
                }
        }) }}
    {% endset %}
    
    <h3 id="modal-title" class="govuk-heading-l govuk-!-margin-bottom-1"></h3>
    <p id="modal-description"></p>

    <form action="/issue/explain" method="post">
        <div class="error-content">
            {{ govukWarningText({
                html: 'This data should be corrected in your MIS. We can only accept an explanation for this error in certain cases.' | safe,
                iconFallbackText: 'Warning'
            }) }}
        </div>
        
        <div class="query-content">
            <p class="guide"></p>
        </div>
        {{ responseHTML | safe }}
        <input type="hidden" id="selected-issue" name="selected-issue">
        <input type="hidden" name="success-page" value="#root#/school/issues">
        {{ govukButton({
            html: 'Save explanation',
            classes: 'send'
        }) }}
    </form>
    <p>
        <a href="#" class="close-modal">Cancel</a>
    </p>
        
</div>

<div class="modal-overlay" tabindex="-1"></div>

<script>


    $('.open-modal').on('click', function() {
        var issueRow = $(this).closest('tr');
        var issueCategory = issueRow.find('.issueCategory').text().trim();
        issueRow.find('.issueData').each(function() {
            var id = $(this).attr('data-modal-id');
            var modalElement = $('#' + id);
            if (modalElement[0].nodeName == 'INPUT' || modalElement[0].nodeName == 'TEXTAREA') {
                modalElement.val($(this).html());
            } else {
                modalElement.html($(this).html());
            }
        });
        if (issueCategory.toLowerCase() == 'error') {
            $('.error-content').show()
            $('.query-content').hide()
        } else {
            $('.query-content').show()
            $('.error-content').hide()
        }
    });

</script>

{% endmacro %}