{% set hmctsComponentRoot = '../../../../../node_modules/@hmcts/frontend/components/' %}
{% from hmctsComponentRoot + 'hmcts-badge/macro.njk' import hmctsBadge %}
{% from "button/macro.njk" import govukButton %}
{% macro schoolResponsesList(params) %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

        <table id="issueTable" class="govuk-table govuk-table--top-align issue-table hide-caption">
            
            <caption class="govuk-table__caption">Issues</caption>
            
            
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    
                    <th class="govuk-table__header" scope="col">
                        Issue
                    </th>

                    <th class="govuk-table__header" scope="col">
                        Type
                    </th>

                    {% if params.issues | hasPreviousNotes %}
                        <th class="govuk-table__header" scope="col">
                            Previous notes
                        </th>
                    {% endif %}
                    
                    <th class="govuk-table__header numeric" scope="col">
                    </th>
                
                </tr>
            </thead>
            
            <tbody class="govuk-table__body">

                {% for issue in params.issues | sort(false, true, 'category') %}

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header issue-description" scope="row" data-sort-value="{{ issue.number }}">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-1 issueData" data-modal-id="modal-title">
                                <span class="govuk-!-margin-right-2">{{ issue.number }}</span>
                                {% if issue.pupils | length > 0 %}
                                    <span class="no-wrap type-tag count">
                                        {% if issue.pupils | length != 1 %}
                                            {{ issue.pupils | length }} pupils
                                            {% set consolidatedQuery = true %}
                                        {% else %}
                                            1 pupil
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </h3>
                            <p class="issueData" data-modal-id="modal-description">
                                {{ issue.description | addFullStop }}
                            </p>
                            <div class="issueData" data-modal-id="selected-issue" style="display: none;">{{ issue.id }}</div>
                        </th>
                        <td class="govuk-table__cell">
                            {{ hmctsBadge({
                                text: issue.category,
                                classes: 'hmcts-badge--bright-purple' if issue.category == 'query' else 'hmcts-badge--bright-red'
                            }) }}
                        </td>

                        <td class="govuk-table__cell wider-cell">
                        
                            {% set currentNote = issue.notes[0] %}
                            <div class="note">
                                {% if issue.pupils | length > 0 %}
                                    <h4 class="govuk-heading-s">Explanation for <a href="issue-details?current-issue={{ issue.id }}"> 
                                        {{ issue.pupils | length | countLabel('pupil', 'pupils') }}
                                    </a>
                                    </h4>
                                {% else %}
                                    <h4 class="govuk-heading-s">Explanation for this {{ issue.category }}</h4>
                                {% endif %}
                                <p>{{ currentNote.text }}</p>
                            </div>
                            <form action="issue-details">
                                <input type="hidden" name="current-issue" value="{{ issue.id }}">
                                {{ govukButton({
                                    html: 'Undo explanation',
                                    classes: 'app-button-red'
                                }) }}
                            </form>
                        </td>
                    </tr> 

                {% endfor %}
                
            </tbody>
        </table>

    </div>

</div>
{% endmacro %}