@import 'components/issues';
@import 'components/modal';
@import 'components/callout';

// Fix for background when footer is not sticky
html {
	background-color: #dee0e2;
}

// Widen pages for caseworking
[class*='__container'],
.govuk-width-container {
	max-width: 1240px;
}

// Ensure no paragraph is too long to read in widened views
.govuk-body-m,
.govuk-body,
p {
	max-width: 34em;
}

// Type tags to show issue types and pupil counts

a.type-tag,
.type-tag {
	font-weight: bold;
	display: inline-block;
	font-family: $govuk-font-family;
	vertical-align: middle;
	color: govuk-colour('blue');
	background-color: rgba(govuk-colour('blue'), 0.025);
	padding: 3px 5px 1px 5px;
	margin-bottom: 5px;
	text-decoration: none;
	border: 1.5px solid govuk-colour('blue');
	border-radius: 3px;
	table & {
		font-size: 16px;
	}
	&.school {
		border-color: govuk-colour('green');
		color: govuk-colour('green');
		background-color: rgba(govuk-colour('green'), 0.025);
	}
	&.error {
		border-color: govuk-colour('red');
		color: govuk-colour('red');
		background-color: rgba(govuk-colour('red'), 0.025);
	}
	&.count {
		font-size: 16px;
		border-color: lighten(govuk-colour('grey-3'), 5%);
		color: govuk-colour('black');
		background-color: lighten(govuk-colour('grey-3'), 5%);
	}
	&.query {
		border-color: darken(govuk-colour('orange'), 10%);
		color: darken(govuk-colour('orange'), 10%);
		background-color: rgba(darken(govuk-colour('orange'), 10%), 0.025);
	}
	&.term,
	&.term-on-term {
		border-color: govuk-colour('pink');
		color: govuk-colour('pink');
		background-color: rgba(govuk-colour('pink'), 0.025);
	}
	&.class {
		color: govuk-colour('brown');
		border-color: govuk-colour('brown');
		background-color: rgba(govuk-colour('brown'), 0.025);
	}
	&.count-tag {
		font-size: 14px;
		text-decoration: none;
		margin-left: 5px;
	}
}

// Align cell content to top of cells within given table

table.govuk-table--top-align {
	th,
	td {
		vertical-align: top;
	}
}

// Make objects smaller when within a table

table .govuk-button {
	font-size: 16px;
}

tr {
	min-height: 44px;
}

table:not(.pupil-table) {
	tbody th,
	tbody td {
		font-size: 16px;
		p {
			font-size: 16px;
		}
	}
}

// Fix jumping table caption on safari

table {
	position: relative;

	.modal-only {
		display: none;
	}
	&:not(.hide-caption) {
		margin-top: 30px;

		caption {
			position: absolute;
			top: -30px;
		}
	}

	&.hide-caption {
		caption {
			position: absolute !important;
			width: 1px !important;
			height: 1px !important;
			margin: 0 !important;
			padding: 0 !important;
			overflow: hidden !important;
			clip: rect(0 0 0 0) !important;
			-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;
			border: 0 !important;
			white-space: nowrap !important;
		}
	}
}

// Amend positioning for checkboxes within a cell

.govuk-table__checkbox-cell {
	position: relative;
	padding-left: 10px;
	padding-top: 2.5px;
	width: 30px;
	label::before {
		background-color: white;
	}
}

// Add a highlight color to selected rows

tr.highlight-row {
	th,
	td {
		background-color: rgba($govuk-focus-colour, 0.3);
	}
}

// Remove underline from links when not required

a.plain-link,
.plain-link a {
	text-decoration: none;
}

// Allow different colours for form buttons

.app-button-red {
	background-color: govuk-colour('red');
	box-shadow: 0 2px 0 darken(govuk-colour('red'), 20%);

	&[disabled],
	&.govuk-button--disabled {
		pointer-events: none;
		background-color: rgba(govuk-colour('red'), 50%);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: darken(govuk-colour('red'), 10%);
		box-shadow: 0 2px 0 darken(govuk-colour('red'), 20%);

		&[disabled],
		&.govuk-button--disabled {
			background-color: rgba(govuk-colour('red'), 50%);
		}
	}
}

.app-button-orange {
	background-color: govuk-colour('orange');
	box-shadow: 0 2px 0 darken(govuk-colour('orange'), 20%);

	&[disabled],
	&.govuk-button--disabled {
		pointer-events: none;
		background-color: rgba(govuk-colour('orange'), 50%);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: darken(govuk-colour('orange'), 10%);
		box-shadow: 0 2px 0 darken(govuk-colour('orange'), 20%);
		&[disabled],
		&.govuk-button--disabled {
			background-color: rgba(govuk-colour('orange'), 50%);
		}
	}
}

.app-button-blue {
	background-color: govuk-colour('blue');
	box-shadow: 0 2px 0 darken(govuk-colour('blue'), 20%);

	&[disabled],
	&.govuk-button--disabled {
		pointer-events: none;
		background-color: rgba(govuk-colour('blue'), 50%);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: darken(govuk-colour('blue'), 10%);
		box-shadow: 0 2px 0 darken(govuk-colour('blue'), 20%);
		&[disabled],
		&.govuk-button--disabled {
			background-color: rgba(govuk-colour('blue'), 50%);
		}
	}
}

// Style 'count tags' where navigation elements show the number of underlying records

a .app-count-tag,
.app-count-tag {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: $govuk-brand-colour;
	border: $govuk-brand-colour 1.5px solid;
	border-radius: 3px;
	padding: 1.5px 4px 0 4px;
	font-size: 80%;
	margin-left: 8px;
}

// Allow for titles containing a suffixed element

.app-inline-title {
	vertical-align: baseline;

	* {
		margin-right: 8px;
		display: inline-block;
	}
}

// Style tags

.hmcts-badge {
	display: inline-block;
	border-radius: 3px;
	padding-top: 2.5px;
	&[class$='--brown'] {
		border-color: govuk-colour('brown');
		color: govuk-colour('brown');
	}
	&[class$='--bright-red'] {
		border-color: govuk-colour('bright-red');
		color: govuk-colour('bright-red');
	}
	&[class$='--light-purple'] {
		border-color: govuk-colour('light-purple');
		color: govuk-colour('light-purple');
	}
	&[class$='--bright-purple'] {
		border-color: govuk-colour('bright-purple');
		color: govuk-colour('bright-purple');
	}
	&[class$='--orange'] {
		border-color: govuk-colour('orange');
		color: govuk-colour('orange');
	}
	&[class$='--yellow'] {
		border-color: #f5ab00;
		color: #f5ab00;
	}
}

// Remove underline from plain links

.app-plain-link {
	text-decoration: none;
}

// Style button like a link

.app-link-like-button {
	border: 0;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	transform: none;
	background: transparent;
	box-shadow: none;
	color: $govuk-link-colour;
	font-weight: bold;

	&:hover {
		border: 0;
		padding: 0;
		margin: 0;
		margin-top: 5px;
		transform: none;
		background: transparent;
		box-shadow: none;
		color: $govuk-link-colour;
		font-weight: bold;
	}

	&::before {
		content: none;
		height: 0;
		width: 0;
		border: 0;
		padding: 0;
		margin: 0;
	}
}
