{% from "./../includes/identity-bar.njk" import schoolIdentityBar %}
{% from "./../includes/school-census-header.njk" import schoolCensusHeader %}
{% from "./../includes/school-sub-navigation.njk" import schoolSubNavigation %}
{% from "./../includes/school-responses-list.njk" import schoolResponsesList %}
{% from "./../includes/school-issue-modal.njk" import schoolIssueModal %}


{% extends 'layout-data-dfe.html' %}

{% block pageTitle %}
    Saved explanantions
{% endblock %}

{% set school = data.schools | getById(data['selected-school']) %}
{% set isReady = school | schoolIsReady %}

{% block postHeader %}

    {# Redirect user back to 'issues' if the last explanation has been undone #}
    {% if school | resolvedArray | length == 0 %}

        {{ 'issues' | redirect | safe }}    

    {% endif %}

    {{ schoolIdentityBar({
        school: school,
        isReady: isReady
    }) }}

{% endblock %}

{% block content %}

    {{ school | resolvedArray | debug | log }}

    {{ schoolCensusHeader({
        school: school,
        isReady: isReady
    }) }}

    {{ schoolSubNavigation({
        school: school,
        isReady: isReady,
        activePage: 'responses'
    }) }}

    {{ schoolResponsesList({
        issues: school | resolvedArray
    }) }}


{% endblock %}



