{% from "./../../includes/identity-bar.njk" import schoolIdentityBar %}
{% from "./../../includes/helpdesk-census-header.njk" import helpdeskCensusHeader %}
{% from "./../../includes/helpdesk-sub-navigation.njk" import helpdeskSubNavigation %}
{% from "./../../includes/helpdesk-response-list.njk" import helpdeskResponseList %}


{% extends 'layout-data-dfe.html' %}

{% block pageTitle %}
    Rejected explanations for issues
{% endblock %}

{% set school = data.schools | getById(data['selected-school']) %}
{% set isReady = school | schoolIsReady %}

{% block postHeader %}

    {{ schoolIdentityBar({
        school: school,
        isReady: isReady
    }) }}

{% endblock %}

{% block content %}

    {{ helpdeskCensusHeader({
        school: school,
        isReady: isReady
    }) }}

    {{ helpdeskSubNavigation({
        school: school,
        isReady: isReady,
        activePage: 'rejected'
    }) }}

    {% if school | helpdeskRejectedArray | length > 0 %}

        {{ helpdeskResponseList({
            issues: school | helpdeskRejectedArray,
            time: data.time
        }) }}

        {{ schoolIssueModal() }}

    {% else %}

        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-one-half">
                
                <p>You have not rejected any explanations.</p>

            </div>

        </div>

    {% endif %}


{% endblock %}



