
{% extends "layout-data-dfe.html" %}

{% block pageTitle %}
  Send data to DfE
{% endblock %}

{% block content %}

    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
            Send data to DfE
            <span class="govuk-caption-xl">GOV.UK Prototype Kit {{releaseVersion}}</span>
            </h1>{{releaseVersion | log }}

            <p>
                The content of this service is to be made available to authorised Department for Education employees and contractors only. This is a prototype, do not use this version to submit real school data. 
            </p>

        </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">Design</h3>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="iterations/current/options.html">Current iteration</a></li>
            </ul>
        </div>
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">User research</h3>
        </div>
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">Development</h3>
        </div>
    </div>

{% endblock %}
