
{% extends "layout-data-dfe.html" %}

{% block pageTitle %}
  Prototype options
{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Prototype options
            </h1>

            <p>
                The content of this service is to be made available to authorised Department for Education employees and contractors only. This is a prototype, do not use this version to submit real school data. 
            </p>

        </div>
    </div>

{% endblock %}
