{% extends 'layout.html' %} {% block pageTitle %} Select prototype user type {%
endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{{
			govukBackLink({
				text: 'Back',
				href: 'javascript:history.back()'
			})
		}}

		<form method="post">
			{% set usersNameHTML %}

			{{ govukInput({
                        id: 'user',
                        name: 'user',
                        value: data['user'] if data['user'] else '',
                        classes: 'govuk-input--width-20',
                        label: {
                            text: 'User’s name',
                            classes: 'govuk-input--width-20'
                        }
                    }) }}

			{% endset %}

			{{
				govukRadios({
					idPrefix: 'user-type',
					name: 'user-type',
					fieldset: {
						legend: {
							text: 'Select prototype user type',
							isPageHeading: true,
							classes: 'govuk-fieldset__legend--xl'
						}
					},
					items: [
						{
							text: 'School',
							value: 'school'
						},
						{
							text: 'Collector',
							value: 'collector',
							conditional: { html: usersNameHTML }
						},
						{
							text: 'Local authority',
							value: 'la'
						}
					]
				})
			}}

			{{
				govukButton({
					html: 'Save and continue'
				})
			}}
		</form>
	</div>
</div>

<script>
	var nextPageRoutes = {
		school: 'school-options',
		collector: 'helpdesk/inbox',
		la: 'la/home'
	}
</script>

{% endblock %}
